{% extends "base.html" %}
{% block start %}

  <div class="container mt-5">
    <button type="button" class="btn btn-primary float-end" onclick="location.href='/employees/'">
        Add Department
      </button>
    <h2>Department Detail</h2>
    <table class="table table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <th>Department_id</th>
                <th>Department_name</th>
                <th>Manager</th>
                <th>Employee ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for d in departments %}
          
            <tr>
                <td>{{d.d_id}}</td>
                <td>{{d.d_name}}</td>
                <td>{{d.manager.e_name}}</td>
                <td>{{d.manager.e_id}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="/update_dep/{{d.d_id}}/" class="btn btn-success">Update</a>
                        <a href="/delete_dep/{{d.d_id}}/" class="btn btn-danger">Delete</a>
                    
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}