{% extends "base.html" %}
{% block start %}
<style>
    body{
        background-color: azure;
    }
</style>
  <div class=" box container mt-5 w-75 .bg-light.bg-gradient shadow-lg">
    <button type="button" class="btn btn-primary float-end" onclick="location.href='/employees/'">
        Add Employees
      </button>
    <h2>Employees Detail</h2>
    <table class="table table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <th>Employee_id</th>
                <th>Employee_name</th>
                <th>Employee_address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for emp in employees %}
          
            <tr>
                <td>{{emp.e_id}}</td>
                <td>{{emp.e_name}}</td>
                <td>{{emp.e_addr}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a href="/update_emp/{{emp.e_id}}/" class="btn btn-success">Update</a>
                        <a href="/delete_emp/{{emp.e_id}}/" class="btn btn-danger">Delete</a>
                    
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}